TRATAMENTO DO DATASET PRODUCT_CATEGORY_NAME_TRANSLATION

O Dataset já apresentava-se dentro dos padrões necessários para realizar uma boa extração dos dados características presentes: 
--- Todas as palavras presentes em lower case 
--- Espaços entre as palavras preenchidos com underscore
--- Não há presença de caracteres especiais 
--- As categorias estão representadas em dois idiomas

In [2]:
import pandas as pd 
import numpy as np


dts = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/brazilian-ecommerce/product_category_name_translation.csv")

In [4]:
dts

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

--- Não há dados nulos nas colunas
--- DF composto por 71 linhas e 2 colunas

In [5]:
dts.isnull()

    product_category_name  product_category_name_english
0                   False                          False
1                   False                          False
2                   False                          False
3                   False                          False
4                   False                          False
..                    ...                            ...
66                  False                          False
67                  False                          False
68                  False                          False
69                  False                          False
70                  False                          False

[71 rows x 2 columns]

In [7]:
dts.shape

(71, 2)