# Instalação e Importação de bibliotecas

In [7]:
#!pip install openpyxl
#!pip install xlwt

In [8]:
import pandas as pd
import numpy as np
from unidecode import unidecode # essa biblioteca irá remover acentuação e caracteres especiais

In [9]:
# A CONEXÃO COM O Kaggle via API ficará nesta célula

# -- CÓDIGO AQUI -- #

## Dataframe

In [10]:
# Dataset
csv_olist_geolocation_dataset = "https://raw.githubusercontent.com/Wellitiz/Projeto_BigData/main/dataset/olist_geolocation_dataset.csv"

In [11]:
# Carrega o dataset
df = pd.read_csv(csv_olist_geolocation_dataset)
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

#### Função para remover acentos e caracteres especiais

In [12]:
# Função para remover acentuações e caracteres especiais
def padronizar_cidade(city):
    city_sem_acentos = unidecode(city)
    city_sem_especiais = ''.join(e for e in city_sem_acentos if e.isalnum() or e.isspace())
    return city_sem_especiais

# Aplica a função à coluna 'geolocation_city'
df['geolocation_city_padronizada'] = df['geolocation_city'].apply(padronizar_cidade)

# Exibe o DataFrame resultante
print(df[['geolocation_city', 'geolocation_city_padronizada']])

        geolocation_city geolocation_city_padronizada
0              sao paulo                    sao paulo
1              sao paulo                    sao paulo
2              sao paulo                    sao paulo
3              sao paulo                    sao paulo
4              sao paulo                    sao paulo
...                  ...                          ...
1000158         tapejara                     tapejara
1000159   getulio vargas               getulio vargas
1000160         tapejara                     tapejara
1000161  david canabarro              david canabarro
1000162         tapejara                     tapejara

[1000163 rows x 2 columns]

In [13]:
#df['geolocation_city_padronizada'].unique()

### Reescrevendo nomes de cidades relevantes

Foram reescritos os nomes de cidades que aparecem com maior frequência

In [14]:
df['geolocation_city_padronizada'] = df['geolocation_city_padronizada'].replace(['saopaulo', 'saPSo paulo' ], 'sao paulo')
df['geolocation_city_padronizada'] = df['geolocation_city_padronizada'].replace(['4o centenario'], 'quarto centenario')
df['geolocation_city_padronizada'] = df['geolocation_city_padronizada'].replace(['floripa'], 'florianopolis')

In [15]:
# Selecione a coluna desejada
unique_cities = df['geolocation_city_padronizada'].unique()

# Crie um DataFrame a partir do array
df_unique_cities = pd.DataFrame({'Unique Cities': unique_cities})

# Exiba o DataFrame
df_unique_cities.describe()

       Unique Cities
count           5937
unique          5937
top        sao paulo
freq               1

### Ranking das Cidades

Abaixo estão as cinco cidades com maior frequência no dataset

In [16]:
df[['geolocation_city_padronizada']].value_counts()

geolocation_city_padronizada
sao paulo                       160721
rio de janeiro                   62151
belo horizonte                   27805
curitiba                         16593
porto alegre                     13521
                                 ...
santa eudoxia                        1
lambari d26apos3boeste               1
canhoba                              1
lamarao                              1
 cidade                              1
Name: count, Length: 5937, dtype: int64

# Data frame com os dados Tratados

In [18]:
# Colunas: geolocation_zip_code_prefix	geolocation_lat	geolocation_lng	geolocation_city	geolocation_state
df[['geolocation_zip_code_prefix','geolocation_city_padronizada','geolocation_state']]

,geolocation_zip_code_prefix,geolocation_city_padronizada,geolocation_state
0,1037,sao paulo,SP
1,1046,sao paulo,SP
2,1046,sao paulo,SP
3,1041,sao paulo,SP
4,1035,sao paulo,SP
...,...,...,...
1000158,99950,tapejara,RS
1000159,99900,getulio vargas,RS
1000160,99950,tapejara,RS
1000161,99980,david canabarro,RS
1000162,99950,tapejara,RS